@font-face {
    font-family: 'MiFuente';
    src: url(../assets/fonts/estiloLetra.woff2) format('woff2'),
         url(../assets/fonts/estiloLetra.woff) format('woff');
}
body {
    font-family: 'MiFuente', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    background-color: oklch(0.721 0.164 58);
    
}
header {
    display: flex;
    background-color: oklch(0.976 0.030 83);
}
header img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

nav {

    background-color: oklch(0.976 0.030 83);

}
nav ul {
    list-style: none;
}
nav ul li {

    margin-top: 8px;
    display: inline-block;
    margin-left: 25px;
}
nav ul li a {

    text-decoration: none;
    color: oklch(0 0 0);
    display: inline-block; /*He tenido que poner este display porque no se me completaba el hover.*/
    transition: color 0.5s, transform 0.5s;
}
nav ul li a:hover {
    color: oklch(0.721 0.164 58);
    cursor: pointer;
    transform: scale(1.2);

}
.construyendo {
    color: oklch(0.443 0.012 180);
}
main {
    margin-left: 30px;

}
/*La sombra a la imagen se pone con box-shadow, los 3 numeros son, el primero indica desplazamiento horizontal, 
el 2 indica despazamiento vertical y el ultimo desenfoque, yo utilizo 10 pixeles de desplazamiento en ambos sentidos y un desenfoque de 20.*/
.imagenesEstilo {
    width: 480px;
    display: block;
    margin: auto;
    border: 2px solid oklch(42.419% 0.09888 58.277);
    box-shadow: 10px 10px 20px oklch(38.967% 0.08974 59.536);
    cursor: pointer;
    transition: transform 0.5s linear;

}
.imagenesEstilo:hover {
    transform: scale(1.1);
}
/*En la etiqueta details van todos los cambios relacionados con el desplegable antes de que se abra, para poder editar cuando ya esta abierto tenemos que usar [open], usado justo
abajo de details, para summary solo cambiamos el titulo del desplegable, lo editamos subrayandolo y poniendolo en negrita.*/
details {
    border: 1px solid oklch(0 0 0);
    width: 450px;
    padding: 5px;
    background-color: oklch(0.721 0.164 58);
    cursor: pointer;
    border-radius: 5px;

}
/*Esto es para editar la etiqueta details una vez abierta.*/
details[open] {
    filter: brightness(120%);
}
details[open] li {
    font-weight: bold;
}
summary{
    font-weight: bold;
}
details[open] summary{
    text-decoration: underline;
    text-underline-offset: 3px;
}
section ul li a {
    text-decoration: none;
    transition: color 0.5s, transform 0.5s;
    color: oklch(55.895% 0.21757 259.319);
    display: inline-block; /*He tenido que poner este display porque no se me completaba el hover.*/
}
section ul li a:hover {
    font-weight: bold;
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 5px;

}
#centrarTitulo {
    margin-left: 41.2%;
}
footer {
    background-color: oklch(0.976 0.030 83);
    display: flex;

}
footer strong:hover {
    transform: scale(1.05);
    cursor: pointer;
}
footer strong a {
    text-decoration: none;
    color: black;
}
footer strong{
    display: inline-block; /*He tenido que poner este display porque no se me completaba el hover.*/
    transition: 0.5s;
}
