@font-face {
    font-family: 'MiFuente';
    src: url(../assets/fonts/estiloLetra.woff2) format('woff2'),
         url(../assets/fonts/estiloLetra.woff) format('woff');
}
body {
    font-family: 'MiFuente', sans-serif;
    margin: 25px;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    background-color: oklch(0.721 0.164 58);
    
}
header {
    display: flex;
    background-color: oklch(0.976 0.030 83);
    img {
        width: 80px;
        height: 80px;
        margin-left: 20px;
    }
}
nav {

    background-color: oklch(0.976 0.030 83);

    ul {

       list-style: none;

        li {
            margin-top: 8px;
            display: inline-block;
            margin-left: 25px;

            a {
                text-decoration: none;
                color: oklch(0 0 0);
                display: inline-block; /*He tenido que poner este display porque no se me completaba el hover.*/
                transition: color 0.5s, transform 0.5s;
                
                &:hover {
                    color: oklch(0.721 0.164 58);
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }
}
.construyendo {
    color: oklch(0.443 0.012 180);
}
main {
    margin-left: 30px;

}
.imagenesEstilo {
    display: block;
    margin: auto;
    border: 2px solid oklch(0.53 0.12 60);
    box-shadow: 0 0 10px oklch(0.55 0.12 60);
    cursor: pointer;
    transition: scale 0.5s linear;

    &:hover{
        scale: 1.1;

    }
}
details {
    border: 1px solid oklch(0 0 0);
    width: 450px;
    padding: 5px;
    background-color: oklch(0.721 0.164 58);
    cursor: pointer;
    border-radius: 5px;
}
/*En la etiqueta details van todos los cambios relacionados con el desplegable antes de que se abra, para poder editar cuando ya esta abierto tenemos que usar [open], usado justo
abajo de details, para summary solo cambiamos el titulo del desplegable, lo editamos subrayandolo y poniendolo en negrita.*/
details {
    border: 1px solid oklch(0 0 0);
    width: 450px;
    padding: 5px;
    background-color: oklch(0.721 0.164 58);
    cursor: pointer;
    border-radius: 5px;

}
/*Esto es para editar la etiqueta details una vez abierta.*/
details[open] {
    filter: brightness(120%);
    li {
        font-weight: bold;
    }
}
summary{
    font-weight: bold;
}
details[open] summary{
    text-decoration: underline;
    text-underline-offset: 3px
}