body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Centramos el titulo */
#formulario_container h1 {
    display: flex;
    margin: auto;
    justify-content: center;
}
/* Estilo del container del formulario */
#formulario_container {
    background-color: white;
    border-radius: 2%;
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px oklch(0.469 0.015 43.136);
    margin: auto;
}
/* Quan es correcte color verd */
#mail:valid {
    color: green;
    border: 2px solid green;
    border-radius: 3px;
}
/* Quan es incorrecte color vermell */
#mail:invalid {
    color: red;
    border: 2px solid red;
    border-radius: 3px;
}
#checkReceptes {
    margin-left: 15.1%;
}
#container_boton_registro {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}
.botones {
    border-color: oklch(0 0 0);
    background-color: oklch(0.721 0.164 58);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s linear;
    font-size: 1.05rem;
}
#registro {
    width: 150px;
    height: 45px;
}
.botones:hover {
    transform: scale(1.1);
}
#formularioRelleno {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
#formularioRelleno div label {
    display: block;
}
#formularioRelleno div input {
    width: 100%;
    box-sizing: border-box;
}
.inputTexto {
    background-color: oklch(0.976 0.030 83);
    width: 60%;
    box-sizing: border-box;
}
.opciones {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.enlacesLegales {
    margin-left: 5%;
}
#notificacio {
    margin-left: 5%;
}